<h1>All Categories</h1>

<div class="category-wrapper">
  <form method="GET" action="/admin/exhibitions/categories/edit">
    <ul>
      <% for category in @categories %>
      <li><input type="radio" id="category_id" name="id" value="<%= category.id %>"/>
        <label for="<%= category.id %>"><%= category.name %></label></li>
        <% end %>
      </ul>

      <div class="buttons">
        <input type="submit" value="Edit">
      </form>

      <form action="/admin/exhibitions/categories/new" method="GET"><input type="submit" value="Add Category"></form>
    </div>
  </div>
</div>
