<h1>Add Category</h1>

<form method="POST" action="/admin/exhibitions/categories">
  <div class="form-wrapper">

    <div class="field">
      <label for="name">Category:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="button">
      <input type="submit" value="Add"/>
    </div>

  </div>
</form>
