<h1>Add a new artist</h1>

<form method="POST" action="/artists">
  <div class="form-wrapper">

    <div class="field">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="field">
      <label for="born">Year born:</label>
      <input type="text" name="born" id="born"/>
    </div>

    <div class="field">
      <label for="bio">Biography:</label>
      <textarea name="biography" rows="10" cols="70" wrap="soft" id="bio"></textarea>
    </div>

    <div class="big-field">
      <label for="image">Image URL:</label>
      <textarea name="image" rows="3" cols="70" wrap="soft" id="image"></textarea>
    </div>

    <div class="button">
      <input type="submit" value="Add Artist"/>
    </div>

  </div>
</form>
