<h1>Add a new artist</h1>

<form method="POST" action="/artists">
  <div class="form-wrapper">

    <div class="field">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="field">
      <label for="born">Year born:</label>
      <input type="text" name="born" id="born"/>
    </div>

    <div class="field">
      <label for="bio">Biography:</label>
      <input type="text" name="biography" id="bio"/>
    </div>

    <div class="field">
      <label for="image">Image URL:</label>
      <input type="text" name="image" id="image"/>
    </div>

    <div class="button">
      <input type="submit" value="Add Artist"/>
    </div>

  </div>
</form>
