<h1><%= @artist.name %></h1>

<p>Born <strong><%= @artist.born %></strong></p>
<p><%= @artist.biography %></p>

<form action="/admin/artists/<%= @artist.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
