<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hill Street Gallery</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto|Karla" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">

</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/admin/exhibitions">Exhibitions</a></li>
      <li><a href="/admin/exhibitions/new">Add New Exhibit</a></li>
      <li><a href="/admin/artists">Artists</a></li>
      <li><a href="/admin/artists/new">Add New Artist</a></li>
    </ul>
  </nav>
  <div id="flex-container">
  <%= yield %>
  </div>
</body>

<footer role="admin-access" id="foot">
  <ul>
    <li><a href="/">Public</a></li>
  </ul>
</footer>

</html>
