<h1>Add a new exhibit</h1>

<form method="POST" action="/exhibitions">
  <div class="form-wrapper">

    <div class="field">
      <label for="title">Title:</label>
      <input type="text" name="title" id="title"/>
    </div>

    <div class="field">
      <label for="subtitle">Subtitle:</label>
      <input type="text" name="subtitle" id="subtitle"/>
    </div>

    <div class="field">
      <label for="opening">Opening date:</label>
      <input type="text" name="opening" id="opening"/>
    </div>

    <div class="field">
      <label for="closing">Closing date:</label>
      <input type="text" name="closing" id="closing"/>
    </div>

    <div class="field">
      <label for="description">Description:</label>
      <input type="text" name="description" id="description"/>
    </div>

    <div class="field">
      <label for="artist_id">Artist:</label>
      <select name="artist_id" id="artist_id">
        <% @artists.each do |artist| %>
          <option value=<%= artist.id %>><%= artist.name %></option>
        <% end %>
      </select>
    </div>

    <div class="drop-down">
      <label for="category">Category:</label>
      <select name="category" id="category">
        <option value="sculpture">sculpture</option>
        <option value="performance">performance</option>
        <option value="sound installation">sound installation</option>
        <option value="painting">painting</option>
        <option value="ceramics">ceramics</option>
        <option value="moving image">moving image</option>
        <option value="printmaking">printmaking</option>
      </select>
    </div>

    <div class="button">
      <input type="submit" value="Add Exhibit"/>
    </div>

  </form>
